# Leitura de dados com Pandas

In [1]:
import pandas as pd
local = "./Dados/oscar_age_male.csv" #funciona com url tbm
df = pd.read_csv(local)
df.head()

,Index,"""Year""","""Age""","""Name""","""Movie"""
1,1928,44,"""Emil Jannings""","""The Last Command","The Way of All Flesh"""
2,1929,41,"""Warner Baxter""","""In Old Arizona""",NaN
3,1930,62,"""George Arliss""","""Disraeli""",NaN
4,1931,53,"""Lionel Barrymore""","""A Free Soul""",NaN
5,1932,47,"""Wallace Beery""","""The Champ""",NaN